.wrapper {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 60px;
    margin-left: 27px;
    gap: 20px;
    
}
.wrapperLoading {
    text-align: center;
    font-size: 35px;
}

.link {
    text-decoration: none;
}

.link:hover {
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   transform: scale(1.03);
   background-color: #7ed5cc1c;
}
.paginate {
    margin-left: 550px;
    margin-top: 15px;
}
.pagBtn{
 width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #2a8d8369 5%, #19423e93 100%);
  background-color: #7ed5cc2f;
  border-radius: 2px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;   
}
.pagBtn:hover {
    transition: all .3s ease-in-out;
    color: black;
}
.pagInvisibleBtn{
    background: linear-gradient(to bottom, #7ed5cc69 5%, #9ccec993 100%);
    background-color: #7ed5cc2f;
    border-radius: 2px;
    border: none;
    display: inline-block;
    
    color: #ffffff;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    margin-left: 6px;  
}
.pagDisabledBtn{
    background: linear-gradient(to bottom, #7ed5cc69 5%, #9ccec993 100%);
  background-color: #7ed5cc2f;
  border-radius: 2px;
  border: none;
  display: inline-block;
 
  color: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: 6px;
  margin-left: 6px;
}

@media (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        margin-top: 60px;
        
        gap: 20px;
        
    }
}



@media (min-width: 1200px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        margin-top: 60px;
        margin-right: 20px;
        gap: 40px;
        
    }
}